% %%%% agate - mission configuration file %%%
% create a new file for each glider and mission
% Guide for creating configuration files:  
%    https://sfregosi.github.io/agate-public/configuration.html

% %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
% %%%     HEFRING WISPR EXAMPLE            %%%
% %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

% %%%% REQUIRED CONFIG PARAMETERS %%%%%%%%%%%
% define glider and mission information
CONFIG.glider = 'os1024';   % glider serial number


% %%%% OPTIONAL - acoustics %%%%%%%%%%%%%%%%%
% WISPR settings
CONFIG.ws.inDir = 'C:\Users\selene.fregosi\Desktop\hefring_training\Elrond_WISPR\WISPR_SD1';   % path to raw .dat files
CONFIG.ws.outDir = 'C:\Users\selene.fregosi\Desktop\hefring_training\Elrond_WISPR\flac';   % path to save converted files