% agate basestation configuration
% used to privately store username and password or secure key info for 
% individual basestation
% Guide for creating configuration files:  
%    https://sfregosi.github.io/agate-public/configuration.html

CONFIG.bs.host = 'url.com'; % e.g., 'seaglider.pub'
CONFIG.bs.username = 'pilot';

% For authentication to log in to the server and transfer files, you can
% specify either a password OR a SSH encryption key pair (publicKeyFile and 
% privateKeyFile. Typically the public key file ends in '.pub', though it 
% doesn't have to. Choose either a password or key pair and use % to comment 
% out the one not being used:

CONFIG.bs.password = 'PsWrD';

% Or this:

CONFIG.bs.publicKeyFile  = 'C:/Users/myusername/.ssh/myPublicKey.pub';
CONFIG.bs.privateKeyFile = 'C:/Users/myusername/.ssh/myPrivateKey';

% For more information on SSH ecnryption keys, and how to set such a 
% key up, see online SSH documentation, particularly the command ssh-keygen.