/*-- scss:defaults --*/

@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';

$font-family: "Atkinson Hyperlegible", sans-serif;

/*-- color definitions --*/
$beaver-orange:   #D73F09 !default;
$stratosphere:    #006A8E !default;
$star-canvas:     #003B5C !default;
$rogue-wave:      #0D5257 !default;
$primary:         $beaver-orange !default;
$success:         $star-canvas !default;
$code-color:      $rogue-wave !default;
$link-color:      $stratosphere !default;


